<header class="header">
    <div class="navigation">
        <a href="{{ '' | prepend: site.baseurl}}" class="logo">
            <img src="https://user-images.githubusercontent.com/15105131/31321297-af27e8c0-ac7b-11e7-9de2-90b95e62e542.png" class="logoimage" alt="logo"/>
        </a>

        <ul class="menu">
            <li class="menu__entry"><a href="{{ 'missie' | prepend: site.baseurl }}">Missie</a></li>
            <li class="menu__entry"><a href="{{ '' | prepend: site.baseurl }}">Denktank</a></li>
        </ul>
    </div>

    <ul class="social-links">
        {% if site.author.github %}
            <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        {% endif %}

        {% if site.author.facebook %}
            <a href="https://facebook.com/{{ site.author.facebook }}" class="social-links__entry" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
        {% endif %}
    </ul>
</header>
