<header class="header">
    <div class="navigation">
        <a href="{{ '' | prepend: site.baseurl}}" class="logo">
            <img src="https://user-images.githubusercontent.com/15105131/41626039-4a24cc00-741b-11e8-89f8-e0c378e1bffe.png" class="logoimage" alt="logo"/>
        </a>

        <ul class="menu">
            <li class="menu__entry"><a href="{{ '' | prepend: site.baseurl }}">what/where/when</a></li>
            <li class="menu__entry"><a href="{{ 'why' | prepend: site.baseurl }}">why</a></li>
            <li class="menu__entry"><a href="{{ 'who' | prepend: site.baseurl }}">who</a></li>
        </ul>
    </div>

    <ul class="social-links">
        {% if site.author.github %}
            <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        {% endif %}

        {% if site.author.facebook %}
            <a href="https://facebook.com/{{ site.author.facebook }}" class="social-links__entry" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
        {% endif %}
    </ul>
</header>
